.SortVisualizer {
  /* max-width: 992px; */
  width: auto;
  padding: 0.5rem;
  margin: 1rem 1rem;
  box-shadow:rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  background-color: var(--background-color-2);
  transition: 0.5s ease-in-out;
  border-radius: 5px;
}

.SortVisualizer__ProgressBar {
  overflow: clip;
  margin: 0.5rem;
}
